<div id="main" class="containerV">
  <div id="groups">
  </div>
  <div class="" id="mainDetail">
    <div class="containerV box">
      <div class="list-header containerH hide blue">
        <div class="containerV">
          Les députés européens
        </div>
      </div>
      <div id="voteContainer">
      </div>
    </div>
    <div class="containerV box">
      <div class="list-header containerH hide blue">
        <div class="containerV">
          Les législations
        </div>
      </div>
      <div id="laws">
      </div>
    </div>
  </div>
</div>
<style>
  #groups {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10vw, 1fr));
  }

  #mainDetail {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40vw, 1fr));
  }

  #mainDetail>* {
    margin: 1vmin;
  }

  .hide {
    display: none !important;
  }

  .list-header {
    justify-content: center;
    flex-basis: 4vh;
    flex-shrink: 0;
  }

  .list-header>div {
    justify-content: center;
    font-size: 3vmin;
  }
</style>
