<div class="containerH container-content-centered" id="main">
  <div class="containerV">
    <div class="containerV box" id="header">
      <div name="fulName">
      </div>
      <div name="nationalGroup">
      </div>
      <div class="containerH">
        <div class="containerV container-content-centered">
          <img name="photo">
          </img>
        </div>
        <div id="evaluation" class="containerV container-content-centered">
          <gauge-wc name="evaluation">
          </gauge-wc>
        </div>
        <div class="containerV container-content-centered">
          <img name="groupLogo">
          </img>
        </div>
      </div>
    </div>
    <div id="laws" class="box containerV">
    </div>
  <div>

</div>
<style>
  [name="photo"] {
    width: 15vmin;
    /* height: 18.9vmin; */
    /* height : 10vw; */
    padding: 1vmin;
  }

  [name="groupLogo"] {
    width: 18.9vmin;
    padding: 1vmin;
    /* height : 10vw; */
  }

  [name="evaluation"] {
    width: 25vmin;
    flex-shrink: 0;
  }

  #evaluation{
    height: 25vmin;
  }

  #header {
    margin: 1vmin;
    padding: 1vmin;
    flex-shrink: 0;
  }

  #laws {
    margin: 1vmin;
    padding: 1vmin;
    flex-shrink: 0;
  }

  #main {
    font-size: 2vmin;
    flex-wrap: wrap;
  }

  .hide {
    display: none !important;
  }
</style>
