@font-face {
  font-family: gilroy;
  src: url(https://simonlouvet.gitlab.io/observatoire-europeen-rac/assets/font/Gilroy-Black.eot);
  src: url(https://simonlouvet.gitlab.io/observatoire-europeen-rac/assets/font/Gilroy-Black.eot?#iefix) format("embedded-opentype"), url(https://simonlouvet.gitlab.io/observatoire-europeen-rac/assets/font/Gilroy-Black.ttf) format("truetype"), url(https://simonlouvet.gitlab.io/observatoire-europeen-rac/assets/font/Gilroy-Black.woff) format("woff"), url(https://simonlouvet.gitlab.io/observatoire-europeen-rac/assets/font/Gilroy-Black.svg) format("svg");
  font-weight: 900;
  font-style: normal
}

@font-face {
  font-family: gilroy;
  src: url(https://simonlouvet.gitlab.io/observatoire-europeen-rac/assets/font/gilroy/bold/Gilroy-Bold.eot);
  src: url(https://simonlouvet.gitlab.io/observatoire-europeen-rac/assets/font/Gilroy-Bold.eot?#iefix) format("embedded-opentype"), url(https://simonlouvet.gitlab.io/observatoire-europeen-rac/assets/font/Gilroy-Bold.ttf) format("truetype"), url(https://simonlouvet.gitlab.io/observatoire-europeen-rac/assets/font/Gilroy-Bold.woff) format("woff"), url(https://simonlouvet.gitlab.io/observatoire-europeen-rac/assets/font/Gilroy-Bold.svg) format("svg");
  font-weight: 700;
  font-style: normal
}

@font-face {
  font-family: quasimoda;
  src: url(https://simonlouvet.gitlab.io/observatoire-europeen-rac/assets/font/quasimoda_regular.eot);
  src: url(https://simonlouvet.gitlab.io/observatoire-europeen-rac/assets/font/quasimoda_regular.eot?#iefix) format("embedded-opentype"), url(https://simonlouvet.gitlab.io/observatoire-europeen-rac/assets/font/quasimoda_regular.ttf) format("truetype"), url(https://simonlouvet.gitlab.io/observatoire-europeen-rac/assets/font/quasimoda_regular.woff) format("woff"), url(https://simonlouvet.gitlab.io/observatoire-europeen-rac/assets/font/quasimoda_regular.svg) format("svg");
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: quasimoda;
  src: url(https://simonlouvet.gitlab.io/observatoire-europeen-rac/assets/font/Quasimoda-Bold.eot);
  src: url(https://simonlouvet.gitlab.io/observatoire-europeen-rac/assets/font/Quasimoda-Bold.eot?#iefix) format("embedded-opentype"), url(https://simonlouvet.gitlab.io/observatoire-europeen-rac/assets/font/Quasimoda-Bold.ttf) format("truetype"), url(https://simonlouvet.gitlab.io/observatoire-europeen-rac/assets/font/Quasimoda-Bold.woff) format("woff"), url(https://simonlouvet.gitlab.io/observatoire-europeen-rac/assets/font/Quasimoda-Bold.svg) format("svg");
  font-weight: 700;
  font-style: normal
}
