
body{
  font-family: gilroy, sans-serif;
  color: var(--color-blue-dark);
}
a{
  text-decoration: none;
  color: var(--color-blue-dark);
}

a:hover{
  color: var(--color-orange);
}

.box{
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.30);
}
