<div id="main" class="containerH container-content-centered">
  <div id="themes-container" class="containerV">
  </div>
</div>
<style>

#themes-container{
  flex-basis: 60vw;
}

.theme{
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
}

.content-theme{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.lib-theme{
  justify-content: center;
  background-color: var(--color-blue);
  color: white;
  flex-basis: 4vh;
  flex-shrink: 0;
}

.lib-theme>*{
  justify-content: center;
}

.law{
  margin-left: 20px;
  color: black;
  text-decoration: none;
  padding: 1vmin;
}

.logo-theme{
  width : 5vw;
  height : 5vw;
}

</style>
