.green-spot {
  background-color: var(--color-green-spot);
}

.orange-spot {
  background-color: var(--color-orange-spot);
}

.red-spot{
  background-color: var(--color-red-spot);
}

.blue {
  background-color: var(--color-blue);
  color: white;
}

.green {
  background-color: var(--color-green);
}

.blue-dark {
  background-color: var(--color-blue-dark);
  color: white;
}

.orange {
  background-color: var(--color-orange);
}

body {
  --color-green-spot : green;
  --color-orange-spot :orange;
  --color-red-spot : red;
  --color-orange: #e58843;
  --color-blue : #006E82;
  --color-green : #53B389;
  --color-blue-dark : #043743;
}
