<div class="containerV" id="main">
  <div name="thematique" class="">
  </div>
  <div id="voteContainer">
  </div>
</div>
<style>
#main{
  margin-top: 2vh;
}

[name="thematique"] {
  padding: 1vmin;
  font-size: 3vmin;
}

</style>
