<a class="containerH votes" id="main">
  <div>
    <img name="photo" />
  </div>
  <div class="containerH container-content-centered">
    <div name="evaluation-square">
    </div>
  </div>
  <div class="containerH container-content-centered">
    <gauge-wc name="evaluation-gauge">
    </gauge-wc>
  </div>
  <div class="containerH container-content-centered">
    <div name="fullName"> </div>
  </div>
</a>
<style>
  a {}

  #main{
    padding:1vmin;
  }

  [name="evaluation-square"] {
    padding-right: 2vmin;
    height: 2vmin;
    flex-basis: 2vh;
  }

  [name="fullName"] {
    padding: 0.5vmin;
    font-size: 2vmin;
  }

  [name="photo"] {
    width: 8vmin;
  }

  [name="evaluation-gauge"] {
    width: 8vw;
    flex-shrink: 0;
  }

  .hide {
    display: none !important;
  }
</style>
