<div class="containerV" id="main">
  <div class="containerH container-content-centered">
    <div id="text" class="box">
      <div>
      </div>
    </div>
  </div>
  <div id="groups" class="">
  </div>
  <div id="voteContainer" class="box hide containerV">
  </div>
</div>
<style>

  #main {
    height: 100%;
  }

  #text {
    margin: 1vmin;
    padding: 1vmin;
    flex-basis: 60vw;
    font-size: 2vmin;
    font-family: quasimoda, sans-serif;
  }

  #voteContainer {
    margin: 1vmin;
    padding: 1vmin;
    min-height: 70vh;
    flex-grow: 1;
  }

  #groups {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10vw, 1fr));
  }

  .hide {
    display: none !important;
  }
</style>
