<!doctype html>
<html lang="fr">

<head>
  <meta charset="utf-8">
  <link rel="icon" type="image/png" href="https://reseauactionclimat.org/wp-content/themes/rac/app/img/favicon.png">
  <title>Observatoire Vote Européen</title>
  <% for (var index in htmlWebpackPlugin.files.js) { %>
    <script src="./<%= htmlWebpackPlugin.files.js[index] %>"></script>
    <% } %>
</head>

<body>
  <div class="containerV" style="position:absolute; top:0; bottom:0; left:0; right:0">
    <div id="header" class="containerH blue">
      <div style="background-color:white">
        <img src="https://reseauactionclimat.org/wp-content/themes/rac/app/img/logo_rac-f.svg" class="logo" />
      </div>
      <div id="color-separator" class="white-blue">
      </div>
      <div id="color-full" class="blue">
      </div>
    </div>
    <div id="middle" class="containerV">
      <div class="containerH menu">
        <a href="#/accueil" class="containerV container-content-centered blue-dark">
          <div class="containerH">
            Accueil
          </div>
        </a>

        <a href="#/partis" class="containerV container-content-centered blue-dark">
          <div class="containerH">
            Que font nos députés européens ?
          </div>
        </a>
        <a href="#/gouvernement" class="containerV container-content-centered blue-dark">
          <div class="containerH">
            Que fait notre Gouvernement ?
          </div>
        </a>
        <a href="#/themes" class="containerV container-content-centered blue-dark">
          <div class="containerH">
            De quels votes parle-t-on ?
          </div>
        </a>
      </div>
      <div id="main" class="containerV">

      </div>
    </div>
    <div id="footer" class="containerH blue">

    </div>
</body>
<style>
  <%=require('./styles/containers.css') %>
  <%=require('./styles/shared.css') %>
  <%=require('./styles/colors.css') %>
  <%=require('./styles/fonts.css') %>
</style>
<style>
  .menu {
    /* flex-basis: 8vmin;

    flex-grow: 1; */
    color: white;
    flex-shrink: 0;
  }

  .menu>* {
    flex-basis: 25%;
    margin: 1vmin;
    padding: 1vmin;
    /* color: white; */
    font-size: 3vmin;
    /* min-height: 8vmin; */
    text-decoration: none;
  }

  .menu>*:hover {
    background-color: var(--color-orange);
    color: white;
  }

  .selected {
    background-color: var(--color-orange);
    color: white;
  }

  .logo {
    height: 5vmin;
  }

  #text {
    margin: 1vmin;
    padding: 1vmin;
    background-color: white;
    font-size: 2vmin;
  }

  #main {
    flex-grow: 1;
    overflow-y: auto;
  }

  #groups {
    flex-wrap: wrap;
  }

  #groups {
    flex-wrap: wrap;
  }

  #middle {
    flex-grow: 1;
  }

  #header {
    flex-shrink: 0;
    flex-basis: 5vmin;
  }

  .white-blue {
    background-image: linear-gradient(to right, #ffffff, #ffffff, #006e82, #006e82);
  }

  #color-separator{
    flex-basis: 2vw;
    flex-shrink: 0;
  }

  #color-full{
    flex-grow: 1;
  }

  #footer {
    flex-shrink: 0;
    flex-basis: 5vmin;
  }
</style>
<script>
</script>

</html>
