<div id="main" class="containerV">
  <div class="containerH container-content-centered">
    <div class="containerH">
      <gauge-wc id="globalEval">
      </gauge-wc>
    </div>
  </div>
  <div class="containerH container-content-centered">
    <div id="laws">
    </div>
  </div>
</div>
<style>
  gauge-wc {

  }
 #globalEval{
   width: 30vmin;
   height: 15vmin;
   padding: 1vmin;
 }

  #marianne {
    width: 30vmin;
    height: 15vmin;
    padding: 1vmin;
  }
  #laws{
    flex-basis: 60vw;
  }

  .law {
    margin: 1vmin;
    padding: 1vmin;
    font-size: 2vmin;
  }

  .pointer{
    cursor: pointer;
  }

  .law>*:hover {
    /* background-color: var(--color-orange); */
  }

  .lawName{
    font-size: 3vmin;
    flex-grow: 1;
  }

  .lawName>div{
    text-align: center;
  }

  .lawText{
    font-family: quasimoda, sans-serif;
  }

  .lawEvaluation{
    flex-basis: 15vmin;
    flex-shrink: 0;
    background-color: white;
  }

  .lawHeader{
    border-style: solid;
    border-color: var(--color-blue-dark);
    background-color: var(--color-blue-dark);
    color: white;
  }

  .lawHeader:hover{
    border-color: var(--color-orange);
    background-color: var(--color-orange);
  }

  .selected{
    border-color: var(--color-orange);
    background-color: var(--color-orange);
  }

  .hide {
    display: none !important;
  }
</style>
