<div id="main" class="box containerV">
    <div class="containerH container-content-centered logo-container">
      <img name="logo" />
    </div>
    <div class="containerH container-content-centered">
      <gauge-wc name="evaluation"><gauge-wc>
    </div>
</div>

<style>

  :host(.selected)>#main{
    box-shadow: 0px 0px 20px var(--color-orange);
  }

  #main:hover {
    box-shadow: 0px 0px 10px var(--color-orange);
  }

  #main{
    margin: 1vmin;
  }

  #header{

  }

  .logo-container{
    height: 10vw;
  }
  [name="logo"] {
    width: 10vw;

  }
  [name="nom"] {
    color: white;
    font-size: 2.5vmin;
  }


  [name="evaluation"] {
    width: 10vw;
    flex-shrink: 0;
  }
  [name="evaluation"]>canvas {
    width: 100%;
  }

  [name="voteContainer"] {
    border-top-style: solid;
    border-top-color: grey;
    grid-area: votes;
    padding-left: 1vw;
  }




</style>
